<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
  <h1>PC List</h1>
<table>
  <thead>
  <tr>
    <th>PC ID</th>
    <th>PC Name</th>
    <th>PC Price</th>
    <th>PC Description</th>
    <th>PC Rating</th>
    <th>PC Image</th>
      <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="pc : ${pcList}" >
    <td th:text="${pc.getPc_id()}" ></td>
    <td th:text="${pc.getPc_name()}" ></td>
    <td th:text="${pc.getPc_price()}" ></td>
    <td th:text="${pc.getPc_description()}" ></td>
    <td th:text="${pc.getPc_rating()}" ></td>
    <td th:text="${pc.getPc_image()}" ></td>
    <td> <form action="/EcommerceStore/build-pc-view" method="GET">
      <input type="hidden" name = "pc_id" th:value="${pc.getPc_id()}">
<button type="submit">View</button>
    </form>
    </td>

  </tr>
  </tbody>


</table>
</body>
</html>