<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Create</title>
</head>
<body>
<form action="/EcommerceStore/createProduct" method="post">
  <label>
    Product name:
    <input type="text" name="product_name">
  </label><br>
  <label>
    Product quantity:
    <input type="text" name="product_quantity">
  </label><br>
  <label>
    Product brand:
    <input type="text" name="product_brand">
  </label><br>
  <label>
    Product price:
    <input type="text" name="product_price">
  </label><br>
  <label>
    Product type:
    <input type="text" name="product_type">
  </label><br>
  Send notification:
  <label for="send"></label><input type="checkbox" id="send" name="send" value="1"><br>
  <button type="submit">Thêm</button>
</form>
</body>
</html>