<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pending Order </title>
</head>
<body>
<a th:href="@{/EcommerceStore/profile/{user_email}(user_email=${user_email})}">Back</a>
<div th:if="${orderList} != null">
  <table>
    <tr>
      <th>Order ID</th>
      <th>Receiver address</th>
      <th>Receiver Information</th>
      <th>Order date</th>
      <th>Cost</th>
      <th>Status</th>
      <th>Payment status</th>
      <th>Action</th>
    </tr>
    <tr th:each="order : ${orderList}">
      <td th:text="${order.order_id}"></td>
      <td th:text="${userAddressRepository.findUserAddressesByAddressId(order.address_id)}"></td>
      <td th:text="${userAddressRepository.findUserAddressesByAddressId(order.address_id).getCusInfo()}"></td>

      <td th:text="${order.order_date}"></td>
      <td th:text="${order.cost}"></td>
      <td th:text="${order.status}"></td>
      <td th:text="${order.getPStatus()}"></td>

      <td><button type="submit">View Detail</button></td>
    </tr>
  </table>
</div>
  <div th:if="${orderList} == null">
    <p>You do not have any order.</p>
  </div>


</body>
</html>