<!DOCTYPE html>
<html lang="vi">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1"
  />
  <meta name="google-site-verification" content="EOEwXTWB17ajswn1Z2Q0g-6UH9mHD4f4OF125eZRWM4"
  />
  <title>
    sos
  </title>
  <link rel="icon" type="image/png" href="../static/asset/default/images/logo-white.png"
  />
  <link rel="stylesheet"
        th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css}"
  />
  <link rel="stylesheet" href="/asset/default/script/style_2023.css">
  <link rel="stylesheet" href="/asset/default/script/library.css">
</head>
<body>

<div class="header">
  <div class="header-top">
    <div class="container">
      <div class="right d-flex align-items">
        <a href="tel:0868302123" class="item d-flex align-items">
          <i class="icon_2023 phone">
          </i>
          <span class="hover-txt">
              0123456789
            </span>
        </a>
        <a href="mailto:" class="item d-flex align-items">
          <i class="icon_2023 email">
          </i>
          <span class="hover-txt">
              abczxc@gmail.vn
            </span>
        </a>
      </div>
      <div class="clearfix">
      </div>
    </div>
  </div>
  <div class="header-mid">
    <div class="container">
      <div class="content-header-mid d-flex align-items">
        <a href="../static/asset/default/images/logo-white.png" class="logo">
          <img src="" alt="logo" width="160px" height="45px"/>
        </a>
        <div class="form__input">
          <form th:action="@{/EcommerceStore/searchFilter}" method="get">
            <div class="searh-form-container">
              <div class="box-select" onclick="_show_option_search();">

                <a href="" class="title-select" id="js-search-title">
                  Tất cả danh mục
                </a>
                <div class="content-select" id="js-list-option-search">
                  <a href="">
                    Tất cả danh mục
                  </a>
                  <a href="" data-id="76">
                    Xây dựng cấu hình PC
                  </a>
                  <a href="" data-id="82">
                    PC Gaming
                  </a>
                  <a href="" data-id="210">
                    PC Đồ Họa
                  </a>
                  <a href="" data-id="182">
                    PC Văn Phòng
                  </a>
                  <a href="" data-id="217">
                    Máy chơi game - Console
                  </a>
                  <a href="" data-id="68">
                    Màn Hình Máy Tính
                  </a>
                  <a href="" data-id="65">
                    VGA - Card màn hình
                  </a>
                  <a href="" data-id="60">
                    Linh kiện máy tính
                  </a>
                  <a href="" data-id="78">
                    Gaming Gears
                  </a>
                  <a href="" data-id="79">
                    Laptop - Máy Tính Xách Tay
                  </a>
                  <a href="" data-id="103">
                    Phụ Kiện - Tản Nhiệt PC
                  </a>
                </div>
              </div>
              <input type="text" id="js-global-seach" class="text_search" name="keyword"

                     placeholder="Nhập sản phẩm cần tìm..."
                     autocomplete="off" th:value="${keyword}"/>
              <input type="hidden" name="page" id="page"

                     th:value="${10}"
              />
              <input type="hidden" name="size" id="size"

                     value="4"
              />
              <button type="submit" class="submit-search">
                  <span>
                    Tìm kiếm
                  </span>
                <i class="icon_2023 search">
                </i>
              </button>
            </div>
          </form>
          <div class="autocomplete-suggestions" id="js-show-search">
            <div class="content-suggestions" id="js-seach-holder">
            </div>
            <a href="/" class="more-all" id="click_search">
                <span class="hover-txt">
                  Xem tất cả
                  <span id="total-pro">
                  </span>
                  sản phẩm
                </span>
            </a>
          </div>
        </div>
        <div class="header-mid-right d-flex align-items">
          <a class="item account d-flex align-items" th:href="@{/EcommerceStore/profile/{user_email}(user_email=${user_email})}"
          >
            <i class="icon_2023 account "></i>
            <span class="hover-txt" >Tài khoản</span>


          </a>
          <a class="item box-cart "
             id="js-header-cart "
             th:if="${userRepository != null and userRepository.findByUserEmail(user_email) != null}"
             th:href="@{/EcommerceStore/cart/{user_id}(user_id=${userRepository.findByUserEmail(user_email).userId})}"
          >

            <i class="fa-solid fa-cart-shopping"></i>
            <i class="icon_2023 cart "></i>
            <span class="counter-cart js-cart-counter ">0</span>
            <div class="header-cart-hover " id="js-header-cart-holder ">
              <!-- cart hover -->
            </div>
          </a>
          <p th:value="${user_email}"  id="user_id"></p>

          <a class="item box-cart "
             th:if="${user_email == null}"
             th:href="@{/EcommerceStore/cart}"
          >
            <i class="fa-solid fa-cart-shopping"></i>
            <i class="icon_2023 cart "></i>
            <span class="counter-cart js-cart-counter ">0</span>
            <div class="header-cart-hover " >
              <!-- cart hover -->
            </div>
          </a>
        </div>
        <div class="global-login ">
          <a
              href=" "
              class="close-login">
            <i class="fa fa-times">
            </i>
          </a>
          <div class="content-form-login padding-24" id="js-form-holder">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header-bottom">
    <div class="container">
      <div class="header-bottom-content d-flex">
        <div class="header-menu">
          <div class="title">
            <i class="fa fa-bars">
            </i>
            <span class="hover-txt">
                Danh mục sản phẩm
              </span>
            <i class="fa fa-angle-down">
            </i>
          </div>
          <div class="height-hover">
          </div>
          <div class="menu_holder">
            <div class="item">
              <a href="" class="item-cate d-flex align-items">
                <p class="cat-title">
                  Xây dựng cấu hình PC
                </p>
                <span class="box-right">
                    <i class="fa fa-angle-right">
                    </i>
                  </span>
              </a>
            </div>
            <div class="item">
              <a href="" class="item-cate d-flex align-items">
                <p class="cat-title">
                  PC Gaming
                </p>
                <span class="box-right">
                    <i class="fa fa-angle-right">
                    </i>
                  </span>
              </a>
            </div>
            <div class="item">
              <a href="" class="item-cate d-flex align-items">
                <p class="cat-title">
                  PC Đồ Họa
                </p>
                <span class="box-right">
                    <i class="fa fa-angle-right">
                    </i>
                  </span>
              </a>
            </div>
            <div class="item">
              <a href="" class="item-cate d-flex align-items">
                <p class="cat-title">
                  PC Văn Phòng
                </p>
                <span class="box-right">
                    <i class="fa fa-angle-right">
                    </i>
                  </span>
              </a>
            </div>
            <div class="item">
              <a href="" class="item-cate d-flex align-items">
                <p class="cat-title">
                  Màn Hình Máy Tính
                </p>
                <span class="box-right">
                    <i class="fa fa-angle-right">
                    </i>
                  </span>
              </a>
            </div>
            <div class="item">
              <a href="" class="item-cate d-flex align-items">
                <p class="cat-title">
                  VGA - Card màn hình
                </p>
                <span class="box-right">
                    <i class="fa fa-angle-right">
                    </i>
                  </span>
              </a>
            </div>
            <div class="item">
              <a href="" class="item-cate d-flex align-items">
                <p class="cat-title">
                  Linh kiện máy tính
                </p>
                <span class="box-right">
                    <i class="fa fa-angle-right">
                    </i>
                  </span>
              </a>
            </div>
            <div class="item">
              <a href="" class="item-cate d-flex align-items">
                <p class="cat-title">
                  Gaming Gears
                </p>
                <span class="box-right">
                    <i class="fa fa-angle-right">
                    </i>
                  </span>
              </a>
            </div>
            <div class="item">
              <a href="" class="item-cate d-flex align-items">
                <p class="cat-title">
                  Laptop - Máy Tính Xách Tay
                </p>
                <span class="box-right">
                    <i class="fa fa-angle-right">
                    </i>
                  </span>
              </a>
            </div>
            <div class="item">
              <a href="" class="item-cate d-flex align-items">
                <p class="cat-title">
                  Phụ Kiện - Tản Nhiệt PC
                </p>
                <span class="box-right">
                    <i class="fa fa-angle-right">
                    </i>
                  </span>
              </a>
            </div>
          </div>
        </div>
        <!---header menu --->
        <div class="header-bottom-right d-flex align-items">
          <a  class="item" th:href="@{/EcommerceStore/build-pc}">
              <span class="txt" alt="Build PC Gaming">
                Xây dựng cấu hình PC
              </span>
          </a>
          <a th:href="@{/EcommerceStore/productFilter/PC}" class="item">
              <span class="txt" alt="PC Gaming">
                PC gaming
              </span>
          </a>
          <a th:href="@{/EcommerceStore/productFilter/SCREEN}" class="item">
              <span class="txt" alt="Màn hình Gaming">
                Màn hình gaming
              </span>
          </a>
          <a th:href="@{/EcommerceStore/productFilter/Laptop}" class="item">
              <span class="txt" alt="Laptop Gaming">
                Laptop
              </span>
          </a>
          <a href="" class="item">
              <span class="txt">
                PS5 Slim
                <img border="0" src="/media/lib/07-12-2023/hotsale2.png" width="20" height="20"
                />
              </span>
          </a>
          <a th:href="@{/EcommerceStore/clean-booking/booking}" class="item">
              <span class="txt">
               Đặt lịch vệ sinh
              </span>
          </a>
          <a href="/media/marketing/khuyenmai/khuyen-mai-8-3.html" class="item">
              <span class="txt">
                Khuyến mãi
              </span>
          </a>
          <a href="" class="item">
              <span class="txt">
                RTX 4070 Super
              </span>
          </a>
          <a href="" class="item">
              <span class="txt">
                RTX 4080 Super
              </span>
          </a>
          <a href="" class="item">
              <span class="txt">
                Giới thiệu
              </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="product-category">
  <div class="container">

    <div class="breadcrumb">
      <ol itemscope="" itemtype="http://schema.org/BreadcrumbList" class="ul clearfix">
        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/" itemprop="item" class="nopad-l">
            <span itemprop="name">Trang chủ</span>
          </a> <i class="fa fa-angle-right"></i>
          <meta itemprop="position" content="1">
        </li>

        <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
          <a href="/gaming-pc.html" itemprop="item">
              <span itemprop="name">
                PC Gaming
              </span> <i class="fa fa-angle-right"></i>
          </a>
          <meta itemprop="position" content="2">
        </li>
      </ol>
    </div>
    <div class="clearfix"></div>
    <div class="content-category d-flex">
      <div class="left">
        <div class="background-white">
          <h2 class="title">Bộ lọc sản phẩm</h2>

          <div class="box-filter">

            <!---end hãng sản xuất -->
            <div class="item-filter">
              <div class="title-filter d-flex align-items space-between">
                <span>Khoảng giá (VNĐ)</span>
                <i class="fa fa-angle-down"></i>
              </div>
              <div class="content-filter">

                <div class="item-attr d-flex align-items">

                  <div class="icon-check ">
                  </div>
                  <a th:href="@{/EcommerceStore/productFilter(start_price=0,
                end_price=8000000, product_type=${productType})}"
                     class="filter-right d-flex align-items space-between">
                    <span>Dưới 8 triệu</span>
                    <span class="total-attr" ></span>
                  </a>
                </div>

                <div class="item-attr d-flex align-items">

                  <div class="icon-check " onclick="">

                  </div>
                  <a th:href="@{/EcommerceStore/productFilter(start_price=8000000, end_price=11000000, product_type=${productType})}"
                     class="filter-right d-flex align-items space-between">
                    <span>8 triệu - 11 triệu</span>
                    <span class="total-attr" ></span>
                  </a>
                </div>

                <div class="item-attr d-flex align-items">

                  <div class="icon-check ">

                  </div>
                  <a th:href="@{/EcommerceStore/productFilter(start_price=11000000,
                end_price=15000000, product_type=${productType})}"
                     class="filter-right d-flex align-items space-between">
                    <span>11 triệu - 15 triệu</span>
                    <span class="total-attr" ></span>
                  </a>
                </div>

                <div class="item-attr d-flex align-items">

                  <div class="icon-check ">

                  </div>
                  <a th:href="@{/EcommerceStore/productFilter(start_price=15000000,
                end_price=20000000, product_type=${productType})}" class="filter-right d-flex align-items space-between">
                    <span>15 triệu - 20 triệu</span>
                    <span class="total-attr" ></span>
                  </a>
                </div>

                <div class="item-attr d-flex align-items">

                  <div class="icon-check ">

                  </div>
                  <a th:href="@{/EcommerceStore/productFilter(start_price=20000000,
                end_price=25000000, product_type=${productType})}"
                     class="filter-right d-flex align-items space-between">
                    <span>20 triệu - 25 triệu</span>
                    <span class="total-attr" ></span>
                  </a>
                </div>

                <div class="item-attr d-flex align-items">

                  <div class="icon-check ">

                  </div>
                  <a th:href="@{/EcommerceStore/productFilter(start_price=25000000,
                  end_price=30000000, product_type=${productType})}"
                     class="filter-right d-flex align-items space-between">
                    <span>25 triệu - 30 triệu</span>
                    <span class="total-attr" ></span>
                  </a>
                </div>

                <div class="item-attr d-flex align-items">

                  <div class="icon-check ">

                  </div>
                  <a  th:href="@{/EcommerceStore/productFilter(start_price=30000000,
                end_price=50000000, product_type=${productType})}"
                      class="filter-right d-flex align-items space-between">
                    <span>30 triệu - 50 triệu</span>
                    <span class="total-attr" ></span>
                  </a>
                </div>

                <div class="item-attr d-flex align-items">

                  <div class="icon-check ">

                  </div>
                  <a th:href="@{/EcommerceStore/productFilter(start_price=50000000,
                 end_price=70000000, product_type=${productType})}"
                     class="filter-right d-flex align-items space-between">
                    <span>50 triệu - 70 triệu</span>
                    <span class="total-attr" ></span>
                  </a>
                </div>

                <div class="item-attr d-flex align-items">

                  <div class="icon-check ">

                  </div>
                  <a th:href="@{/EcommerceStore/productFilter(start_price=70000000,
                end_price=85000000, product_type=${productType})}"
                     class="filter-right d-flex align-items space-between">
                    <span>70 triệu - 80 triệu</span>
                    <span class="total-attr" ></span>
                  </a>
                </div>

              </div>

            </div>


          </div>

        </div>
      </div>
      <!---end  left --->
      <div class="right">
        <div class="background-white">
          <div class="main-title d-flex space-between align-items">
            <h1 th:if="${productType != null}"  th:text="${productType}"></h1>

              <h1 th:if="${productType == null}" >Product</h1>


          </div>


          <p th:if="${productList == null}">No available product</p>
          <div class="product-list d-flex flex-wrap"  id="js-product-list">

              <div class="product-item"  th:each="product :${productList}">
                <a href="/gaming-pc-glacier-i3050.html" class="product-image">

                  <img src=""
                       alt="PC Gaming - Glacier I3050 - 01BL">

                </a>
                <div class="product-info">
                  <a th:href="@{/EcommerceStore/productDetails/{productId}(productId=${product.productId})}"
                     th:text="${product.getProduct_name()}"
                     class="product-name line-clamp-2">

                  </a>
                  <div class="info-review d-flex align-items">
                    <i class="icon-star star5"></i>
                    <span th:text="${product.getRating()}"></span>
                  </div>
                  <div class="main-price">

                    <del class="old-price" th:text="${product.getProductPrice()}"><u>đ</u></del>

                    <div class="d-flex align-items">
                      <b class="price">13.190.000đ</b>

                      <div class="price-saleoff">-6%</div>

                    </div>
                  </div>
                </div>
                <span class="boder-top"></span>
                <span class="boder-right"></span>
                <span class="boder-bottom"></span>
                <span class="boder-left"></span>
              </div>

            <div id="product-container" class="product-list d-flex flex-wrap">
              <div class="product-item"  th:each="product :${productListMore}">
                <a href="/gaming-pc-glacier-i3050.html" class="product-image">

                  <img src=""
                       alt="PC Gaming - Glacier I3050 - 01BL">

                </a>
                <div class="product-info">
                  <a th:href="@{/EcommerceStore/productDetails/{productId}(productId=${product.productId})}"
                     th:text="${product.getProduct_name()}"
                     class="product-name line-clamp-2">

                  </a>
                  <div class="info-review d-flex align-items">
                    <i class="icon-star star5"></i>
                    <span th:text="${product.getRating()}"></span>
                  </div>
                  <div class="main-price">

                    <del class="old-price" th:text="${product.getProductPrice()}"><u>đ</u></del>

                    <div class="d-flex align-items">
                      <b class="price">13.190.000đ</b>

                      <div class="price-saleoff">-6%</div>

                    </div>
                  </div>
                </div>
                <span class="boder-top"></span>
                <span class="boder-right"></span>
                <span class="boder-bottom"></span>
                <span class="boder-left"></span>
              </div>


            </div>

          </div>
          <input type="hidden" name="product_type" id="product_type" th:value="${productType}">
          <input type="hidden" name="start_price" id="start_price" th:value="${start_price}">
          <input type="hidden" name="end_price" id="end_price" th:value="${end_price}">
          <div th:if="${productList} != null">
            <button class="show-more-product" id="show-more-btn"  >
              Xem thêm <i class="fa fa-angle-down"></i>
            </button>

          </div>

          <input type="hidden" id="current_page" value="1"/>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div class="form-info-sale">
    <div class="container">
      <div class="d-flex space-between align-items">
        <div class="social-left">
          <h3>
            Theo dõi chúng tôi tại
          </h3>
          <div class="list-social d-flex align-items">
            <a href="" target="_blank" class="item">
              <i class="icon_2023 facebook">
              </i>
            </a>
            <a href="" target="_blank" class="item">
              <i class="icon_2023 instagram">
              </i>
            </a>
            <a href="" target="_blank" class="item">
              <i class="icon_2023 youtobe">
              </i>
            </a>
            <a href="" target="_blank" class="item">
              <i class="icon_2023 shopee">
              </i>
            </a>
          </div>
        </div>
        <div class="form-sale">
          <h3>
            Đăng ký email để nhận tin khuyến mãi
          </h3>
          <div id="newsletter" class="d-flex">
            <input type="text" id="email-newsletter" placeholder="Nhập email của bạn"
            />
            <a href="" class="send-newsletter">
              Đăng ký
            </a>
          </div>
          <div class="note-error">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-main">
    <div class="container">
      <div class="content-footer d-flex">
        <div class="item">
          <h3 class="title">
            Danh Mục Sản Phẩm
          </h3>
          <div class="cnt">
            <a href="">
              PC Gaming
            </a>
            <a href="">
              Laptop Gaming
            </a>
            <a href="">
              VGA NVidia Rtx 4070
            </a>
            <a href="">
              Ps5 Rẻ nhất Việt Nam
            </a>
            <a href="">
              VGA NVidia Rtx 4060
            </a>
          </div>
        </div>
        <div class="item">
          <h3 class="title">
            Thông Tin Chung
          </h3>
          <div class="cnt">
            <a href="/gioi-thieu">
              Giới Thiệu
            </a>
            <a href="#">
              Tuyển Dụng
            </a>
            <a href="/tin-tuc">
              Tin Tức
            </a>
            <a href="#">
              Ý Kiến Khách Hàng
            </a>
            <a href="/lien-he">
              Liên Hệ Hợp Tác
            </a>
          </div>
        </div>
        <div class="item">
          <h3 class="title">
            Chính Sách
          </h3>
          <div class="cnt">
            <a href="#">
              Quy Định Chung
            </a>
            <a href="">
              Chính Sách Vận Chuyển
            </a>
            <a href="">
              Chính Sách Bảo Hành
            </a>
            <a href="/chinh-sach-doi-tra-lai-hang">
              Chính Sách Đổi, Trả Hàng
            </a>
            <a href="/chinh-sach-cho-doanh-nghiep">
              Chính Sách Cho Doanh Nghiệp
            </a>
          </div>
        </div>
      </div>
      <div class="info-pay">
        <h3>
          Hình thức thanh toán
        </h3>
        <a href="#">
          <div class="icon_2023 pay">
            <img src="https://hoanghapc.vn/media/lib/hinh-thuc-thanh-toan.png" width="190px" alt="">
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
</div>
<script rel="stylesheet" src="/asset/default/js/library.js"></script>
<script rel="stylesheet" src="/asset/default/js/main.js"></script>
<script
    th:src="@{https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js}"></script>
<script>
  // show more product
  const product_type = document.getElementById('product_type').value;
  const keyword = document.getElementById('js-global-seach').value;
console.log(keyword)
  let page = 0;
  let size = 4; // Số sản phẩm muốn hiển thị mỗi lần
  const start_price = parseInt(document.getElementById('start_price').value);
  const end_price = parseInt(document.getElementById('end_price').value);
  console.log('product type: ', product_type)
  console.log(start_price,  end_price);
  document.addEventListener('DOMContentLoaded', function () {

    if (product_type !== '' && (isNaN(start_price) || isNaN(end_price)) &&  keyword === '') {
      document.getElementById('show-more-btn').addEventListener('click', function () {

        page++;
        fetch('/EcommerceStore/productFilter/more?product_type=' + product_type + '&page=' + page
            + '&size=' + size)
        .then(function (response) {
          return response.text();
        })
        .then(function (html) {
          console.log("Response HTML:", html);
          var tempContainer = document.createElement('div');
          tempContainer.innerHTML = html;
          var productContainer = document.getElementById('product-container');
          var newProducts = tempContainer.querySelectorAll('#product-container > div');
          newProducts.forEach(function (product) {
            productContainer.appendChild(product);
          });
        });
      });
    } else if(product_type !== '' && (start_price!== 0 || end_price !== 0) && keyword ===''){

      document.getElementById('show-more-btn').addEventListener('click', function () {

        page++;
        fetch('/EcommerceStore/productFilter/price/more?product_type=' + product_type
            + '&start_price=' + start_price + '&end_price=' + end_price
            + '&page=' + page + '&size=' + size)

        .then(function (response) {
          return response.text();
        })
        .then(function (html) {
          var tempContainer = document.createElement('div');
          tempContainer.innerHTML = html;
          var productContainer = document.getElementById('product-container');
          var newProducts = tempContainer.querySelectorAll('#product-container > div');
          newProducts.forEach(function (product) {
            productContainer.appendChild(product);
          });
        });
      });

    }
    if(keyword !== ''){

      document.getElementById('show-more-btn').addEventListener('click', function () {

        page++;
        fetch('/EcommerceStore/searchFilter?keyword=' + encodeURIComponent(keyword) + '&page=' + page
            + '&size=' + size)

        .then(function (response) {
          return response.text();
        })
        .then(function (html) {
          var tempContainer = document.createElement('div');
          tempContainer.innerHTML = html;
          var productContainer = document.getElementById('product-container');
          var newProducts = tempContainer.querySelectorAll('#product-container > div');
          newProducts.forEach(function (product) {
            productContainer.appendChild(product);
          });
        });
      });

    }

  });
</script>
</body>
</html>
