<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Product Details</title>
</head>
<body>
<a href="/EcommerceStore/product">Back</a>
<h1>Product Details</h1>
<form th:action="@{/EcommerceStore/cart/add}" method="POST">
  <input type="hidden" name="product_id" id="product_id" th:value="${productId}">

  <input type="hidden" name="user_id" id="user_id"
         th:value="${user_email == null ? -1 : (userRepository.findByUserEmail(user_email) != null
         ? userRepository.findByUserEmail(user_email).getUserId() : null)}">

  <p th:text="'Product ID: ' + ${product.productId}"></p>
  <p th:text="'Product Name: ' + ${product.product_name}"></p>
  <p th:text="'Quantity: ' + ${product.product_quantity}"></p>
  <p th:text="'Image: ' + ${product.product_image}"></p>
  <p th:text="'Price: ' + ${product.productPrice}"></p>
  <p th:text="'Rating: ' + ${product.rating}"></p>
  <p th:text="'Brand: ' + ${product.productBrand}"></p>
  <div th:if="${productRepository.getProductByProductId(productId).getProduct_quantity() >0}">
    <button type="submit">Thêm vào giỏ hàng</button>
  </div>

</form>
<form action="/EcommerceStore/register-product" method="post">
  <div th:if="${productRepository.getProductByProductId(productId).getProduct_quantity() == 0}">
    <span>Đăng kí nhận thông tin khi có hàng</span><br>
    <input type="hidden" name="product_id"  th:value="${product.productId}">
    <input type="hidden" name="user_email" th:value="${user_email}">
    <button type="submit">Đăng kí nhận thông tin</button>
  </div>
</form>

</body>
</html>
