<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
<a th:href="@{/EcommerceStore/product}">Back</a>
<h1>This is your profile</h1>
<form action="/EcommerceStore/profile/edit" method="post">
  <!-- Other form fields -->

  <!-- Null check for user_id -->
  <input type="hidden" name="user_id" th:if="${user != null}" th:value="${user.userId}" class="d-none form-control">

  <!-- Null check for user_name -->
  <label>
    Username:
    <input type="text" name="user_name" th:if="${user != null}" th:value="${user.user_name}" class="d-none form-control">
  </label>
  <br>
  <label>
    Email:
    <input type="text" name="user_email" th:if="${user != null}" th:value="${user.userEmail}" class="d-none form-control">
  </label>
  <br>
  <label>
    Phone number:
    <input type="text" name="user_phoneNumber" th:if="${user != null}" th:value="${user.user_phoneNumber}" class="d-none form-control">
  </label>
  <br>
  <label>
    Birthday:
    <input type="text" name="birthday" th:if="${user != null}" th:value="${#dates.format(user.birthday,'yyyy-MM-dd') }" class="d-none form-control">
  </label>
  <br>
  <label>
    Password:
    <input type="password" name="password" th:if="${user != null}" th:value="${user.password}" class="d-none form-control">
  </label>

  <button type="submit">Submit</button>
</form>
<form th:action="@{/EcommerceStore/orderTracking}" method="get">
  <input type="hidden" name="user_id" th:value="${user.userId}">
  <input type="hidden" name="status" value="PENDING">

  <button type="submit">Pending order</button>
</form>
<form th:action="@{/EcommerceStore/successOrder}" method="get">
  <input type="hidden" name="user_id" th:value="${user.userId}">
  <input type="hidden" name="status" value="SUCCESS">

  <button type="submit">Success order</button>
</form>
</body>
</html>
