<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1" />
    <meta name="google-site-verification" content="EOEwXTWB17ajswn1Z2Q0g-6UH9mHD4f4OF125eZRWM4" />
    <title> sos </title>
    <link rel="icon" type="image/png" href="/static/asset/default/images/logo-white.png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <link rel="stylesheet" href="/static/asset/default/script/library.css?v=1.00111" />
    <link href="/static/asset/default/script/style_2023.css?2024-03-25.22.08.47" rel="stylesheet" />
</head>
<body>
<div class="header">
    <div class="header-top">
        <div class="container">
            <div class="right d-flex align-items">
                <a href="" class="item d-flex align-items">
                    <i class="icon_2023 phone"></i>
                    <span class="hover-txt"> 0123456789 </span>
                </a>
                <a href="mailto:cskh@tncstore.vn" class="item d-flex align-items">
                    <i class="icon_2023 email"></i>
                    <span class="hover-txt"> abczxc@gmail.vn </span>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="header-mid">
        <div class="container">
            <div class="content-header-mid d-flex align-items">
                <a href="" class="logo">
                    <img src="static\assets\default\images\logo-no-background.png" alt="logo" width="160px" height="45px" />
                </a>
                <div class="form__input">
                    <form>
                        <div class="searh-form-container">
                            <div class="box-select" onclick="_show_option_search();">
                                <input type="hidden" name="category" id="js-search-catId" value="0" />
                                <a href="" class="title-select" id="js-search-title"> Tất cả danh mục </a>
                                <div class="content-select" id="js-list-option-search">
                                    <a href=""> Tất cả danh mục </a>
                                    <a href="" data-id="76"> Xây dựng cấu hình PC </a>
                                    <a href="" data-id="82"> PC Gaming </a>
                                    <a href="" data-id="210"> PC Đồ Họa </a>
                                    <a href="" data-id="182"> PC Văn Phòng </a>
                                    <a href="" data-id="217"> Máy chơi game - Console </a>
                                    <a href="" data-id="68"> Màn Hình Máy Tính </a>
                                    <a href="" data-id="65"> VGA - Card màn hình </a>
                                    <a href="" data-id="60"> Linh kiện máy tính </a>
                                    <a href="" data-id="78"> Gaming Gears </a>
                                    <a href="" data-id="79"> Laptop - Máy Tính Xách Tay </a>
                                    <a href="" data-id="103"> Phụ Kiện - Tản Nhiệt PC </a>
                                </div>
                            </div>
                            <input type="text" id="js-global-seach" class="text_search" name="q" placeholder="Nhập sản phẩm cần tìm..." autocomplete="off" value="" />
                            <button type="submit" class="submit-search">
                                <span> Tìm kiếm </span>
                                <i class="icon_2023 search"></i>
                            </button>
                        </div>
                    </form>
                    <div class="autocomplete-suggestions" id="js-show-search">
                        <div class="content-suggestions" id="js-seach-holder"></div>
                        <a href="/" class="more-all" id="click_search">
                            <span class="hover-txt"> Xem tất cả <span id="total-pro"></span> sản phẩm </span>
                        </a>
                    </div>
                </div>
                <div class="header-mid-right d-flex align-items">
                    <a class="item account d-flex align-items" href="" "
                    >
                    <i class=" icon_2023 account "></i>
                    <span class=" hover-txt ">Tài khoản</span>
                    </a>
                    <a
                            href=" "
                            class=" item box-cart "
                            id=" js-header-cart "
                    >
                        <i class=" icon_2023 cart "></i>
                        <span class=" counter-cart js-cart-counter ">0</span>
                        <div class=" header-cart-hover " id=" js-header-cart-holder ">
                            <!-- cart hover -->
                        </div>
                    </a>
                </div>
                <div class=" global-login ">
                    <a
                            href=" "
                            class=" close-login "
                    ">
                    <i class="fa fa-times"></i>
                    </a>
                    <div class="content-form-login padding-24" id="js-form-holder"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom">
        <div class="container">
            <div class="header-bottom-content d-flex">
                <div class="header-menu">
                    <div class="title">
                        <i class="fa fa-bars"></i>
                        <span class="hover-txt"> Danh mục sản phẩm </span>
                        <i class="fa fa-angle-down"></i>
                    </div>
                    <div class="height-hover"></div>
                    <div class="menu_holder">
                        <div class="item">
                            <a href="" class="item-cate d-flex align-items">
                                <p class="cat-title"> Xây dựng cấu hình PC </p>
                                <span class="box-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="" class="item-cate d-flex align-items">
                                <p class="cat-title"> PC Gaming </p>
                                <span class="box-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="" class="item-cate d-flex align-items">
                                <p class="cat-title"> PC Đồ Họa </p>
                                <span class="box-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="" class="item-cate d-flex align-items">
                                <p class="cat-title"> PC Văn Phòng </p>
                                <span class="box-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="" class="item-cate d-flex align-items">
                                <p class="cat-title"> Màn Hình Máy Tính </p>
                                <span class="box-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="" class="item-cate d-flex align-items">
                                <p class="cat-title"> VGA - Card màn hình </p>
                                <span class="box-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="" class="item-cate d-flex align-items">
                                <p class="cat-title"> Linh kiện máy tính </p>
                                <span class="box-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="" class="item-cate d-flex align-items">
                                <p class="cat-title"> Gaming Gears </p>
                                <span class="box-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="" class="item-cate d-flex align-items">
                                <p class="cat-title"> Laptop - Máy Tính Xách Tay </p>
                                <span class="box-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                            </a>
                        </div>
                        <div class="item">
                            <a href="" class="item-cate d-flex align-items">
                                <p class="cat-title"> Phụ Kiện - Tản Nhiệt PC </p>
                                <span class="box-right">
                      <i class="fa fa-angle-right"></i>
                    </span>
                            </a>
                        </div>
                    </div>
                </div>
                <!---header menu --->
                <div class="header-bottom-right d-flex align-items">
                    <a href="" class="item">
                        <span class="txt" alt="Build PC Gaming"> Xây dựng cấu hình PC </span>
                    </a>
                    <a href="" class="item">
                        <span class="txt" alt="PC Gaming"> PC gaming </span>
                    </a>
                    <a href="" class="item">
                        <span class="txt" alt="Màn hình Gaming"> Màn hình gaming </span>
                    </a>
                    <a href="" class="item">
                        <span class="txt" alt="Laptop Gaming"> Laptop gaming </span>
                    </a>
                    <a href="" class="item">
                <span class="txt"> PS5 Slim <img border="0" src="/media/lib/07-12-2023/hotsale2.png" width="20" height="20" />
                </span>
                    </a>
                    <a href="" class="item">
                        <span class="txt"> PC Văn phòng </span>
                    </a>
                    <a href="/media/marketing/khuyenmai/khuyen-mai-8-3.html" class="item">
                        <span class="txt"> Khuyến mãi </span>
                    </a>
                    <a href="" class="item">
                        <span class="txt"> RTX 4070 Super </span>
                    </a>
                    <a href="" class="item">
                        <span class="txt"> RTX 4080 Super </span>
                    </a>
                    <a href="" class="item">
                        <span class="txt"> Giới thiệu </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="product-detail">
    <div class="container">
        <div id="breadcrumb" class="breadcrumb">
            <ol itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem" class="home">
                    <a href="/" itemprop="item" class="nopad-l">
                <span itemprop="name">
                  <i class="fa fa-home"></i> Trang chủ </span>
                    </a>
                    <i class="fa fa-angle-right"></i>
                    <meta itemprop="position" content="1">
                </li>
                <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
                    <a href="/monitor.html" itemprop="item">
                        <span itemprop="name"> Product Details </span>
                        <i class="fa fa-angle-right"></i>
                    </a>
                    <meta itemprop="position" content="2">
                </li>
            </ol>
        </div>
        <div class="clearfix"></div>
        <!-- breadcrumb -->
        <div class="main-product-detail background-white">
            <div class="content-main-product d-flex">
                <div class="product-images-detail">
                    <div id="sync1" class="image-big">
                        <a href="javascript:void(0)" onclick="show_image_detail()">
                            <img src="/media/product/250-8880-lg-27gn65r-b-1.jpg" alt="Màn Hình Gaming LG 27GN65R-B IPS/ FHD/ 144Hz">
                        </a>
                    </div>
                </div>
                <!-- end product-image -->
                <div class="product-main-detail">
                    <div class="list-brand d-flex flex-wrap align-items" style="margin-bototm: 10px;">

                    </div>
                    <h1 class="name">Màn Hình Gaming LG 27GN65R-B IPS/ FHD/ 144Hz</h1>
                    <div class="info-sku d-flex align-items">
                        <span class="sku">MSP: SP121180</span>
                        <div class="review d-flex align-items" id="js-scroll-review"> Đánh giá: <i class="icon-star star5"></i>
                        </div>
                        <span class="view">Lượt xem: 6933</span>
                    </div>
                    <a href="/buildpc?id_product=8880&category_id=68" class="add-buildpc">
                        <span>Build PC với sản phẩm này</span>
                        <i class="fa-solid fa-gear"></i>
                    </a>
                </div>
                <div class="product-main-right">
                    <div class="info-specialOffer">
                        <div class="title">
                            <i class="fa fa-gift"></i> Khuyến mãi khi mua sản phẩm
                        </div>
                        <div class="content">
                            <p>
                            <p>Giảm 5% khi mua ARM tối đa 100k <br />Giảm 6 % khi mua thêm màn hình thứ 2 tối đa 100k </p>
                            </p>
                        </div>
                    </div>
                    <!-- end khuyen mai -->
                    <div class="info-main-price">
                        <div class="d-flex align-items">
                            <div class="price"> 4.299.000đ </div>
                            <del class="old-price"> 5.490.000đ </del>
                            <div class="saleoff"> -22% </div>
                        </div>
                        <div class="info-vat d-flex align-items">
                            <div class="item">Bảo hành 24 Tháng</div>
                        </div>
                    </div>
                    <!-- end price -->
                    <div class="group-add-product">
                        <div class="choose-quantity d-flex align-items">
                            <span>Số lượng</span>
                            <div class="unit-detail-amount-control d-flex">
                                <a href="javascript:;" data-value="-1">
                                    <i class="fa fa-minus"></i>
                                </a>
                                <input type="text" size="3" data-total="1" value="1" id="js-buy-quantity">
                                <a href="javascript:;" data-value="1">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                        </div>
                        <div class="all-btn-add-product d-flex align-items">
                            <div class="btn-buy">
                                <a href="javascript:void(0)" class="buy-go-cart btn-buyNow js-add-buyNow"> Thêm vào giỏ hàng </a>
                            </div>
                            <div class="btn-buy buyNow">
                                <a href="javascript:void(0)" class="buy-go-cart btn-buyNow js-buyNow"> Mua Ngay </a>
                            </div>
                        </div>
                    </div>
                    <!-- end group add product -->
                    <div class="info-policy">
                        <div class="item">
                            <i class="fa-solid fa-credit-card"></i>
                            <span>Hỗ trợ trả góp 0%, trả trước 0 đ</span>
                        </div>
                        <div class="item">
                            <i class="fa-solid fa-money-bill"></i>
                            <span>Hoàn tiền 200% nếu có hàng giả</span>
                        </div>
                        <div class="item">
                            <i class="fa-solid fa-bolt"></i>
                            <span>Giao hàng nhanh trên toàn quốc</span>
                        </div>
                        <div class="item">
                            <i class="fa-solid fa-headset"></i>
                            <span>Hỗ trợ kĩ thuật online 24/7</span>
                        </div>
                        <div class="item">
                            <i class="fa-solid fa-wrench"></i>
                            <span>Vệ sinh miễn phí PC, Laptop trọn đời</span>
                        </div>
                    </div>
                    <!-- end info policy -->
                </div>
                <!-- end product main right -->
            </div>
        </div>
        <!--  end main product detail -->
    </div>
</div>
<div class="footer">
    <div class="form-info-sale">
        <div class="container">
            <div class="d-flex space-between align-items">
                <div class="social-left">
                    <h3> Theo dõi chúng tôi tại </h3>
                    <div class="list-social d-flex align-items">
                        <a href="" target="_blank" class="item">
                            <i class="icon_2023 facebook"></i>
                        </a>
                        <a href="" target="_blank" class="item">
                            <i class="icon_2023 instagram"></i>
                        </a>
                        <a href="" target="_blank" class="item">
                            <i class="icon_2023 youtobe"></i>
                        </a>
                        <a href="" target="_blank" class="item">
                            <i class="icon_2023 shopee"></i>
                        </a>
                    </div>
                </div>
                <div class="form-sale">
                    <h3> Đăng ký email để nhận tin khuyến mãi </h3>
                    <div id="newsletter" class="d-flex">
                        <input type="text" id="email-newsletter" placeholder="Nhập email của bạn" />
                        <a href="javascript:;" class="send-newsletter"> Đăng ký </a>
                    </div>
                    <div class="note-error"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-main">
        <div class="container">
            <div class="content-footer d-flex">
                <div class="item">
                    <h3 class="title"> Danh Mục Sản Phẩm </h3>
                    <div class="cnt">
                        <a href=""> PC Gaming </a>
                        <a href=""> Laptop Gaming </a>
                        <a href=""> VGA NVidia Rtx 4070 </a>
                        <a href=""> Ps5 Rẻ nhất Việt Nam </a>
                        <a href=""> VGA NVidia Rtx 4060 </a>
                    </div>
                </div>
                <div class="item">
                    <h3 class="title"> Thông Tin Chung </h3>
                    <div class="cnt">
                        <a href="/gioi-thieu"> Giới Thiệu </a>
                        <a href="#"> Tuyển Dụng </a>
                        <a href="/tin-tuc"> Tin Tức </a>
                        <a href="#"> Ý Kiến Khách Hàng </a>
                        <a href="/lien-he"> Liên Hệ Hợp Tác </a>
                    </div>
                </div>
                <div class="item">
                    <h3 class="title"> Chính Sách </h3>
                    <div class="cnt">
                        <a href="#"> Quy Định Chung </a>
                        <a href=""> Chính Sách Vận Chuyển </a>
                        <a href=""> Chính Sách Bảo Hành </a>
                        <a href=""> Chính Sách Đổi, Trả Hàng </a>
                        <a href=""> Chính Sách Cho Doanh Nghiệp </a>
                    </div>
                </div>
            </div>
            <h3> Hình thức thanh toán </h3>
            <a href="#">
                <div class="icon_2023 pay">
                    <img src="" width="190px" alt="">
                </div>
            </a>
        </div>
    </div>
</div>
</div>
<script src="/static/assets/default/script/library.js?v=1.002"></script>
<script src="/static/assets/default/script/main.js?1.71"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js"></script>
</body>
</html>