<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Profile</title>
</head>
<body>
<a th:href="@{/EcommerceStore/product}">Back</a>
<h1>This is your profile</h1>
<form action="/EcommerceStore/profile/edit" method="post">
  <!-- Other form fields -->

  <!-- Null check for user_id -->
  <input type="hidden" name="user_id" readonly th:if="${user != null}" th:value="${user.userID}" class="d-none form-control">

  <!-- Null check for user_name -->
  <input type="text" name="user_name" th:text="${user.userName}" class="d-none form-control">
  <br>
  <input type="text" name="user_email" readonly th:value="${user.email}" class="d-none form-control">
  <br>
  <input type="text" name="user_phoneNumber"  th:value="${user.phone}" class="d-none form-control">
  <br>
  <input type="text" name="birthday"  th:value="${user.birthday}" class="d-none form-control">
  <br>
  <input type="password" name="password"  th:value="${user.password}" class="d-none form-control">

  <button type="submit">Submit</button>
</form>
<form th:action="@{/EcommerceStore/orderTracking}" method="get">
  <input type="hidden" name="user_id" th:value="${user.userID}">
  <input type="hidden" name="status" value="PENDING">

  <button type="submit">Pending order</button>
</form>
</body>
</html>
